<p id="notice"><%= notice %></p>

<h1>Dashboard</h1>

<br>
<div class="row text-center cards-row">
  <div class="card col-md-2 card-faixa white-stripe stripe" style="">
    <div class="card-body">
      <h5 class="card-title">Faixa Branca</h5>
      <p class="card-text">31</p>
    </div>
  </div>
  <div class="card col-md-2 card-faixa yellow-stripe stripe" style="">
    <div class="card-body">
      <h5 class="card-title">Faixa Amarela</h5>
      <p class="card-text">27</p>
    </div>
  </div>
  <div class="card col-md-2 card-faixa green-stripe stripe" style="">
    <div class="card-body">
      <h5 class="card-title">Faixa Verde</h5>
      <p class="card-text">16</p>
    </div>
  </div>
  <div class="card col-md-2 card-faixa purple-stripe stripe" style="">
    <div class="card-body">
      <h5 class="card-title">Faixa Roxa</h5>
      <p class="card-text">10</p>
    </div>
  </div>
  <div class="card col-md-2 card-faixa black-stripe stripe" style="">
    <div class="card-body">
      <h5 class="card-title">Faixa Preta</h5>
      <p class="card-text">3</p>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<div class="row text-center">
  <h3 class="text-left">Alunos por entidade</h3>
  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Entidade</th>
        <th scope="col">Qtd. Alunos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>xxx</td>
        <td>105</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>xxx</td>
        <td>105</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>xxx</td>
        <td>105</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>xxx</td>
        <td>105</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>xxx</td>
        <td>105</td>
      </tr>
    </tbody>
  </table>
</div>