// Place all the styles related to the Alunos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.new-button {
  position: absolute;
  width: 63px;
  height: 65px;
  left: 33px;
  top: 90%;
  left: 90%;
}

.rounded {
  border-radius: 2px;
}