.card-faixa {
  border-radius: 40px 40px 40px 0px;
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 10px 14px 21px 1px rgba(140, 133, 140, 0.75);
  -moz-box-shadow: 10px 14px 21px 1px rgba(140, 133, 140, 0.75);
  box-shadow: 10px 14px 21px 1px rgba(140, 133, 140, 0.75);
}
.card-faixa:hover {
  -webkit-box-shadow: 10px 14px 31px 13px rgba(140, 133, 140, 0.75);
  -moz-box-shadow: 10px 14px 31px 13px rgba(140, 133, 140, 0.75);
  box-shadow: 10px 14px 31px 13px rgba(140, 133, 140, 0.75);
}
.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cards-row {
  margin-left: 25%;
  width: 100%;
}
.card-text {
  font-size: 32px;
}
.card-title {
  font-size: 22px;
}
.stripe {
  border: 3px dotted;
}
.white-stripe {
  border-color: white;
}
.yellow-stripe {
  border-color: yellow;
}
.green-stripe {
  border-color: green;
}
.purple-stripe {
  border-color: purple;
}
.black-stripe {
  border-color: black;
}
.card,
.table {
  background-color: white;
}
.table {
  border: 1px solid #cfd8dc;
}
tr {
  height: 40px;
}
h1 {
  border-bottom: 3px solid #363740;
  max-width: 18%;
}
